<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>メニュー</title>
</head>

<body>
    <h1>メニュー画面</h1>
    <ul>
        <li><a th:href="@{/admin/category/category-add}">カテゴリー追加</a></li>
        <li><a th:href="@{/admin/category/list}">カテゴリー一覧</a></li>
        <li><a th:href="@{/admin/budget/set-budget}">予算追加</a></li>
        <li><a th:href="@{/admin/expense/expense-add}">支出登録</a></li>
        <li><a th:href="@{/admin/expense/list}">支出一覧</a></li>
    </ul>
</body>

</html>