<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>カテゴリー追加</title>
</head>

<body>
    <div th:replace="~{fragment/fragment::header}"></div>
    <div style="text-align: center;">


        <h2>カテゴリー追加</h2>
        <form th:action="@{/admin/category/category-add}" method="post">
            <label>カテゴリー名:</label>
            <input type="text" name="name" required><br><br>
            <label>予算額:</label>
            <input type="number" name="amount" required><br><br>
            <button type="submit">追加</button>
        </form>

        <div th:replace="~{fragment/fragment::footer}"></div>
</body>

</html>